{% extends "base.html" %}

{% block title %} Contact {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Contact us</h5>
                            </div>
                            <div class="card-block">
                                <p>Email: <a href="mailto:ikon@iri.columbia.edu">ikon@iri.columbia.edu</a></p>
                                <p>More info: <a href="https://fist-ikon.iri.columbia.edu/info">https://fist-ikon.iri.columbia.edu/info</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
