{% extends "base.html" %}

{% block title %} Contact {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>What is iKON</h5>
                            </div>
                            <div class="card-block">
                                <p class="text-muted mb-4">iKON takes data elicitation techniques to the next level, especially when traveling and additional barriers to in-person data collection prevail. The Financial Instruments Sector Team at the International Research Institute for Climate and Society (IRI) - Columbia University Climate School has designed iKON. This app gathers crowdsourced climate-risk data from smallholder farmers across the world.</p>
                                <p class="text-muted mb-4">iKON uses “gamified” incentives and behavioral design elements to generate accurate historical climate risk data at a greater scale. iKON’s design improves conventional survey methods by a) priming memory through the pairwise comparisons of years and b) recognizing accuracy with remote sensing sources and neighbors through an adaptive points-reward system. Over successive comparisons from thousands of players, the data from iKON can be used to estimate a ranking of years from worst to best -- harnessing the wisdom of crowds.</p>
                                <p class="text-muted mb-4">iKON works as a regular contact in WhatsApp, which allows deploying the app to any user with a smartphone. Smallholders play and engage with iKON while improving the design of climate risk management instruments such as index insurance. iKON impacts hundreds of thousands of farmers and serves as a reference for climate risk management and data generation in agriculture research and operations, especially in developing countries.</p>
                                <p class="text-muted mb-4">The Inca god of rain KON inspired the iKON name.</p>

                                <iframe width="560" height="315" src="https://www.youtube.com/embed/jMXJ5shoPD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
