{% extends "base.html" %}

{% block title %} Script Editor {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>{{ script.language }}</h5>
                            </div>
                            <div class="card-block">
                                <div class="form-group">
                                    <h6>Please contact us if you want to modify the structure of the language script.<br>To ensure that the application functions as expected, please do <b>NOT</b> modify the <b style="color:#4fdee5;background:#1c2833;"> keys </b> in the script and change the <b style="color:#0ad161;background:#1c2833;"> values </b> only.</h6>
                                </div>
                                <div class="form-group" style="display:none">
                                    <p id="script-content">{{ script.content }}</p>
                                    <p id="script-deploy-code">{{ deploy_code }}</p>
                                </div>
                                <div class="form-group">
                                    <label for="json-script-edit">{{ script.script_name }}</label>
                                    <pre id="json-script-edit" style="height:85vh;border-radius:10px;font-size:14px;"></pre>
                                </div>
                                <div class="form-group">
                                    <label for="editor-confirm">By clicking Confirm, you are creating a copy of the language script applied to the selected deployment only.</label>
                                    <br>
                                    <button id="editor-confirm" type="button" class="btn btn-primary">Confirm</button>
                                    <p id="confirm-msg"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="../static/assets/js/jquery.json-editor.min.js"></script>
    <script src="../static/assets/js/script-edit.js"></script>
{% endblock javascripts %}
